/*Geral*/
header {
    background-color: #E9ECEF;
    width: 100%;
    height: 7%;
    padding: 1%;
    text-align: center;
}
main {
    background-color: white;
    width: 100%;
    height: 100%;
    text-align: center;

}
body {
    margin: 0%;
    }
/*Header*/
/*Title*/

#Header-Title:hover{
    #Header-Title-Control {color: #4c3299;}
}

/*Control e Finance*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap'); #Header-Title-Control {
    font-family: 'Quicksand', sans-serif; 
    color: hsl(255, 82%, 66%);
    transition: 1s;
    display: inline-block;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap'); #Header-Title-Finance { 
font-family: 'Quicksand', sans-serif; 
display: inline-block;
}

/*Botão para registrar novo valor*/
#Header-Title-Form_New_Value {        
    display: inline-block;
    margin-left: 30rem;
}

#Header-Title-Form-New_Value_Button {
    display: inline-block;
    background-color:  hsl(255, 82%, 66%);
    color: white;
    font-size: bold;
    font: medium;
    font-weight: bold;
    padding-inline: 0.875rem;
    height: 2rem;
    width: 10rem;
    border-radius: 0.55rem;
    border: none;
    transition: 1s;
}

#Header-Title-Form-New_Value_Button:hover{
    background-color: #4c3299;
}

/*Body*/
/*Resumo Financeiro text*/
#Main-Text-Resumo_financeiro {
    font-size: bold;
    font: medium;
    display: inline-block;
    margin-top: 2.5%;
    margin-left: 2rem;
}

/*Botões de "Todos", "Entradas", "Saídas"*/
/*Todos*/
#Main-Div {
    text-align: center;
}

.Main-Div-Button{
    display: inline-block;
    background-color:  white;
    color: black;
    font-size: bold;
    font: medium;
    font-weight: bold;
    padding-inline: 0.875rem;
    height: 1.5rem;
    width: 5rem;
    border-radius: 0.45rem;
    border: 0.5px solid #ADB5BD;
}
.Main-Div-Button.active {
    color: #6741D9; 
    border: 0.5px solid #6741D9;
    background-color: #f0ecfb;
    transform: scale(1);
}

#Separador-Div-Button-Todos {
    margin-left: 23.9rem;
}

#Div-Box-Valores-Totais-Centralizadora {
    display: flex;
    justify-content: center;
    align-items: center;
}

#Div-Valores-Total {
    background-color: #E9ECEF;
    width: 49rem;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 2rem;
    border: solid #ADB5BD;
    border-radius: 0.8rem;
    margin-top: 0.5rem;
}

#Main-Div-Valores-Totais-Soma_Dos_Valores {
font-size: bold;
font: medium;
margin-right: 37rem;
}

#Main-Div-Valores-Totais-Valor {

}

#Main-Div-Valores {
    font-size: bold;
    font: medium;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Main-Div-Valor-Box {
    text-align: center;
    justify-content: center;
    display: flex;
    border: solid #ADB5BD;
    border-radius: 0.8rem;
    margin-top: 1rem;
    margin-left: 2rem;
    width: 49rem;
    height: 2.5rem;
}

.Main-Div-Valor {
    font-size: bold;
    font: medium;
    margin-right: 35.5rem;
    margin-top: 0.7rem;
}

.Main-Div-Tipo-Valor {
    font-size: bold;
    font: medium;
    width: 4.5rem;
    height: 1.5rem;
    background-color: #E9ECEF;
    margin-top: 0.5rem;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    border-radius: 0.3rem;
    font: bold;
    font-size: medium;
    font-weight: bold;
    padding-inline: 0.5rem;
}

.Main-Div-Button-Remover-Valor {
margin-left: 1rem;
margin-top: 0.365rem;
width: 1.7rem;
height: 1.7rem;
transition: 1s;
border: solid #ADB5BD;
background-color: white;
border-radius: 0.3rem;
color: #ADB5BD;
}

.Main-Div-Button-Remover-Valor:hover {
background-color: #E9ECEF;
color: black;
}

/*MODAL Forma*/
#Pag-Modal {
width: 20rem;
height: 18rem;
border: none;
border-radius: 1rem;
box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);

}

/* Modal Conteúdos*/
/* Modal Div Formulário*/
#Modal-Div-Form {
 
}

/*Registro de Valor text*/
#Modal-Registro_Valor {
font-size: bold;
font: medium;
text-align: left;
display: inline-block;
margin-right: 8rem;
margin-left: 0;
}

/*Botão Fechar*/
#Close-button-Modal {
margin-left: 1.6rem;
width: 1.5rem;
height: 1.5rem;
border: #ADB5BD;
background-color: #E9ECEF;
color: grey;
transition: 1s
}
#Close-button-Modal:hover {
    color: black;
}

/*Info*/
#Modal-Infos {
font-size: bold;
font: medium;
text-align: left;
color: grey;
margin-top: 0.5rem;
}

/*Valor Text*/
#Modal_Valor {
font-size: bold;
font: medium;
text-align: left;
margin-bottom: 0;
}

/*input text*/
#Modal-Div-Form-Input {
    font-size: bold;
    font: medium;
    border: solid 0.1rem #ADB5BD;
    border-radius: 0.5rem;
    margin-right: 1rem;
    width: 19rem;
    height: 1.8rem;
    text-align: left;
    padding-left: 0.5rem;
}
/*Modal items*/
#Modal-Items {
    align-items: left;
    display: flex;
}

/*Tipo de valor text*/
#Modal_Tipo_Valor {
    font-size: bold;
    font: medium;
margin-left: 0rem;
margin-right: 1rem;
display: inline-block;
align-items: left;
}

/*Entrada e Saída botão*/
.Modal-Button-Types {
    font-size: bold;
    font: medium;
margin-top: 1.25rem;
margin-right: 0.5rem;
width: 4rem;
height: 1.5rem;
border: 0.125rem solid #E9ECEF;
border-radius: 0.25rem;
background-color: white;
}

.Modal-Button-Types.active {
    color: #6741D9; 
    border: 0.5px solid #6741D9;
    background-color: #f0ecfb;
    transform: scale(1);
}

/*Cancelas e Enviar Botão*/
#Close-Modal {
font-size: bold;
font: medium;
height: 1.8rem;
margin-left: 9.3rem;
margin-right: 0.4rem;
margin-top: 1rem;
border-radius: 0.5rem;
border: 0.15rem solid #E9ECEF;
background-color: #E9ECEF;
}

#Add-Value-Button {
font-size: bold;
font: medium;
height: 1.8rem;
border-radius: 0.5rem;
border: 0.13rem solid #6741D9;
background-color: white;
background-color: #6741D9;
color: white;
}